<<<<<<< HEAD
%h1 Editing admin_equipment

= render 'form'

= link_to 'Show', @admin_equipment
\|
= link_to 'Back', admin_equipment_index_path
=======
%h1 Editing equipment

= render 'form'

= link_to 'Show', @equipment
\|
= link_to 'Back', equipment_index_path
>>>>>>> bcfa866b1bbd64aebe4c3a10680050bc753c7dc7
