#top-container.container-fluid
  .col-md-12{style:"margin-top:5px;padding:5px"}
    #contactimg{style:"box-shadow: 0 0 85px rgba(0,0,0,.3);width:315px;margin:auto"}
      %img{src:"#{root_url}img/contact.jpg",alt:"Contact Us",align:"center"}
#contactform{style:"margin:auto;width:85%"}
  .container-fluid
    .Rucontact
      .blockhead Russian Contact
      .blockcontent
        %ul
          %li.t#email Email
          %li#email1
            = @contact.russian_email
      .blockcontent
        %ul
          %li.t#skype{style:"border-top:0px"} Skype
          %li#skype1{style:"border-top:0px"}
            = @contact.russian_skype
      .blockcontent
        %ul
          %li.t{style:"border-top:0px"} Mobile
          %li{style:"border-top:0px"} 
            = @contact.russian_mobile
    .Encontact
      .blockhead English Contact
      .blockcontent
        %ul
          %li.t#email Email
          %li#email1
            = @contact.english_email
      .blockcontent
        %ul
          %li.t#skype{style:"border-top:0px"} Skype
          %li#skype1{style:"border-top:0px"}
            = @contact.english_skype
      .blockcontent
        %ul
          %li.t{style:"border-top:0px"} Mobile
          %li{style:"border-top:0px"}
            = @contact.english_mobile
  .container-fluid{style:"margin-top:5px"}
    .websiteinfo
      .blockcontent{style:"overflow:hidden"}
        %ul
          %li.t#website
            Website
          %li#website{style:"width:79.48%"}
            =link_to 'http://'+@contact.website, root_url,{style:"color:#2E86BD"}
    .websiteinfo
      .blockcontent{style:"overflow:hidden"}
        %ul
          %li.t#website{style:"border-top:0px"}
            Tel/Fax
          %li#website{style:"width:79.48%;border-top:0px"}
            = @contact.tel
    .websiteinfo
      .blockcontent{style:"overflow:hidden"}
        %ul
          %li.t#website{style:"border-top:0px;line-height:75px"}
            Address
          %li#website{style:"width:79.48%;border-top:0px"}
            = @contact.address1
            %br
            = @contact.address2
            %br
            Post Code
            = @contact.postcode