.panel.panel-info
  .panel-heading
    %h3.panel-subject
      Our Equipments
  .panel-body{style:"padding:0px"}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/1.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/2.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/3.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/4.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/5.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/6.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/7.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/8.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/9.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/10.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/11.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/12.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/13.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/14.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/15.jpg",alt:"..."}
    .col-md-2{style:"margin-right:0px"}
      .thumbnail
        %img{src:"#{root_url}img/equipments/16.jpg",alt:"..."}