.page-content
  .panel.panel-info
    .panel-heading
      %h3.panel-subject
        Product Fields
    .panel-body{style:"background-color:#EFEFEF"}
      .col-md-12#prodparam{style:"margin-bottom:5px"}
        %p The Valves provided by us can be adopted in various industrial fields
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/A.jpg",alt:"..."}
          .caption
            Petroleum refining
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/Chemical industry.jpg",alt:"..."}
          .caption
            Mechinery
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/Chemical industry2.jpg",alt:"..."}
          .caption
            Chemical Industry
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/Chemical industry1.jpg",alt:"..."}
          .caption
            Power Generation
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/HKT-2.jpg",alt:"..."}
          .caption
            Phamacy Industry
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/06052011113.jpg",alt:"..."}
          .caption
            Agriculture Industry
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/Gas77.jpg",alt:"..."}
          .caption
            Automobile Industry
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/Gas66.jpg",alt:"..."}
          .caption
            Mining Industry
      .col-md-2
        .thumbnail
          %img{src:"#{root_url}img/fields/IMG_3344.jpg",alt:"..."}
          .caption
            Aero Industry
            
