#top-container.container-fluid{style:"padding-top:3px;padding-bottom:3px"}
  .pageblock.col-md-2{style:"min-height:350px"}
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      News
    - @news.each do |news|
      %ul.bullets
        %li= news.title
  .pageblock.col-md-7{style:"min-height:350px"}
    .blockhead{style:"text-align:center"}
      %img{src:"#{root_url}img/blockheadericon.png"}
      Product Parameters
    %script{src:"http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"}
    %script{src:"#{root_url}js/tupianlunbo2.js"}
    #tupianlunbo
      %dl{style:"width:95%;margin:auto"}
        %dt Gate Valve
        %dt Ball Valve
        %dt Check Valve
        %dt Globe Valve
        %dd 
          %img{src:"#{root_url}img/products/KLT.jpg"}
        %dd
          %img{src:"#{root_url}img/products/klt0.jpg"}
        %dd
          %img{src:"#{root_url}img/products/klt1.jpg"}
        %dd
          %img{src:"#{root_url}img/products/klt3.jpg"}

  .pageblock.col-md-2{style:"min-height:350px"}
    #rightwrapper
      .blockhead
        %img{src:"#{root_url}img/blockheadericon.png"}
        Company Video

      %video{autoplay:"autoplay",width:"100%",height:"100%"}
        %source{src:"http://public.dm2303.livefilestore.com/y2pCeDLNZTckPiSCzm3k9Wf768C6TkOzfpyN3cHQkFuH1O8-ff_ADIYn1VcSIC071hNb65IaDiy_Aqa52c4TvVJ4D_7oa9Uw4s9tvfdwxdY7JA",type:"video/mp4"}
        /打算放弃纯flash视频
        / %object{classid: "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", codebase: "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0", width:"95%", height:"auto"}
        /   %param{name:"movie", value:"#{root_url}video/flvplayer.swf"}
        /   %param{name:"quality", value:"high"}
        /   %param{name:"allowFullScreen", value:"true"}
        /   %param{name:"FlashVars", value:"vcastr_file=#{root_url}video/FlashVideo.flv&LogoText=www.wrdvalve.com&BufferTime=3&IsAutoPlay=1"}
        /   %embed{src:"#{root_url}video/flvplayer.swf", allowFullScreen:"true", FlashVars:"vcastr_file=#{root_url}video/FlashVideo.flv&LogoText=www.wrdvalve.com&BufferTime=3&IsAutoPlay=1", quality:"high", pluginspage:"http://www.macromedia.com/go/getflashplayer", type:"application/x-shockwave-flash", width:"95%", height:"auto",style:"margin-top:4px"}
      .blockhead{style:"margin-top:3px"}
        %img{src:"#{root_url}img/blockheadericon.png"}
        New Arrivals
      #newarrival
        %ul.bullets
          %li
            =link_to "Gate Valves", product_valve_path(1),{style:"color:#2E86BD"}
          %li
            =link_to "Globe Valves", product_valve_path(2),{style:"color:#2E86BD"}
          %li
            =link_to "Check Valves", product_valve_path(3),{style:"color:#2E86BD"}
          %li
            =link_to "Ball Valves", product_valve_path(4),{style:"color:#2E86BD"}
          %li
            =link_to "Butterfly Valves", product_valve_path(5),{style:"color:#2E86BD"}

#productmarquee.container-fluid
  .col-md-12.pageblock
    .blockhead{style:"text-align:center"}
      %img{src:"#{root_url}img/blockheadericon.png"}
      Our Equipments
    #demo
      #indemo
        #demo1
          - @equipments.each do |equipment|
            %a{href:"/equipment"}
              =image_tag equipment.avatar
          
        #demo2
    %script{src:"#{root_url}js/rolling.js"}

#middle-container.container-fluid{style:"padding-top:3px"}
  .col-md-2.pageblock{style:"height:275px"}
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      Our Partners
    %div{style:"margin-left:5px;overflow:hidden"}
      %li
        %img{src:"#{root_url}img/ts.lg.ua.jpg", alt:"LG"}
      %li
        %img{src:"#{root_url}img/www.crm.nl.jpg", alt:"CRM Nederland"}
      %li
        %img{src:"#{root_url}img/www.idmar.com.ua.jpg", alt:"Idmar"}
      %li
        %img{src:"#{root_url}img/www.nornat.net.jpg", alt:"Nornat"}
      %li
        %img{src:"#{root_url}img/www.oilsystem.kz.jpg", alt:"Oil System"}
      %li
        %img{src:"#{root_url}img/www.teploenergoprom.ru.jpg", alt:"Teploenergoprom"}
    

  .col-md-7.pageblock{style:"height:275px"}
    .blockhead{style:"width:100%"}
      %img{src:"#{root_url}img/blockheadericon.png"} Who We Are
    #social{style:"height:auto"}
      %li
        %img{src:"#{root_url}/img/fb.png"}
        Like us on Facebook
      %li
        %img{src:"#{root_url}/img/tr.png"}
        Follow us on Twitter
  .col-md-2.pageblock{style:"height:275px"}
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      Downloads
    #brochures
      %p
        %a{href:"#",style:"color:#FFFFFF;line-height:37px;font-size:1.2em;padding-left:30px"}
          Brochures
      %br
    #brochures
      %p
        %a{href:"#",style:"color:#FFFFFF;line-height:37px;font-size:1.2em;padding-left:30px"}
          Drawings
