#top-container.container-fluid{style:"padding-top:3px;padding-bottom:3px"}
  .pageblock.col-md-2{style:"height:250px"}
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      News
    - @news.each do |news|
      %ul.bullets
        %li= news.title
  .pageblock.col-md-7{style:"height:250px"}
    .blockhead{style:"text-align:center"}
      %img{src:"#{root_url}img/blockheadericon.png"}
      Product Parameters
    %script{src:"http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"}
    %script{src:"#{root_url}js/tupianlunbo2.js"}
    #tupianlunbo
      %a.btn.btn-info{style:"position:absolute; top:45px;right:15px"} more
      %dl{style:"width:95%;margin:auto"}
        %dt Gate Valve
        %dt Ball Valve
        %dt Check Valve
        %dt Globe Valve
        %dd 
          %img{src:"#{root_url}img/products/KLT.jpg"}
        %dd
          %img{src:"#{root_url}img/products/klt0.jpg"}
        %dd
          %img{src:"#{root_url}img/products/klt1.jpg"}
        %dd
          %img{src:"#{root_url}img/products/klt3.jpg"}

  .pageblock.col-md-2{style:"height:250px"}
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      Company Video

    %object{classid: "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", codebase: "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0", width:"95%", height:"auto"}
      %param{name:"movie", value:"#{root_url}video/flvplayer.swf"}
      %param{name:"quality", value:"high"}
      %param{name:"allowFullScreen", value:"true"}
      %param{name:"FlashVars", value:"vcastr_file=#{root_url}video/FlashVideo.flv&LogoText=www.wrdvalve.com&BufferTime=3&IsAutoPlay=1"}
      %embed{src:"#{root_url}video/flvplayer.swf", allowFullScreen:"true", FlashVars:"vcastr_file=#{root_url}video/FlashVideo.flv&LogoText=www.wrdvalve.com&BufferTime=3&IsAutoPlay=1", quality:"high", pluginspage:"http://www.macromedia.com/go/getflashplayer", type:"application/x-shockwave-flash", width:"95%", height:"auto",style:"margin-top:4px"}
#productmarquee.container-fluid
  .col-md-12.pageblock
    .blockhead Our Equipments
    #demo
      #indemo
        #demo1
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/1.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/2.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/3.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/4.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/5.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/6.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/7.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/8.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/9.jpg"}
          %a{href:"/equipments"}
            %img{src:"#{root_url}img/equipments/10.jpg"}
        #demo2
    %script{src:"#{root_url}js/rolling.js"}

#middle-container.container-fluid{style:"padding-top:3px"}
  .col-md-2.pageblock
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      Our Partners
    %div{style:"margin-left:5px;overflow:hidden"}
      %li
        %img{src:"#{root_url}img/ts.lg.ua.jpg", alt:"LG"}
      %li
        %img{src:"#{root_url}img/www.crm.nl.jpg", alt:"CRM Nederland"}
      %li
        %img{src:"#{root_url}img/www.idmar.com.ua.jpg", alt:"Idmar"}
      %li
        %img{src:"#{root_url}img/www.nornat.net.jpg", alt:"Nornat"}
      %li
        %img{src:"#{root_url}img/www.oilsystem.kz.jpg", alt:"Oil System"}
      %li
        %img{src:"#{root_url}img/www.teploenergoprom.ru.jpg", alt:"Teploenergoprom"}
    .blockhead
      %img{src:"#{root_url}img/blockheadericon.png"}
      Downloads
    #brochures
      %p
        %a{href:"#",style:"color:#FFFFFF;line-height:37px;font-size:1.2em;padding-left:30px"}
          Brochures
      %br
    #brochures
      %p
        %a{href:"#",style:"color:#FFFFFF;line-height:37px;font-size:1.2em;padding-left:30px"}
          Drawings

  .pageblock{style:"margin-right:5px"}
    .blockhead{style:"width:100%"}
      %img{src:"#{root_url}img/blockheadericon.png"} Who We Are
    #companyintro{style:"height:auto"}
      #companyintrotitle
        %h3 Introduction to WRD Valves Ltd.
    #morinfo{style:"width:60px;height:40px;position:relavant;top:35px;right:10px"} more