= simple_form_for([:admin, @company]) do |f|
  = f.error_notification

  .form-inputs
    = f.text_area :content, :rows => 10, :cols => 90
  .form-inputs
    = f.input :avatar, as: :file

  .form-actions
    = f.button :submit
