= simple_form_for(@equipment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
  
  .form-inputs
    = f.input :avatar, as: :file, label: 'Picture'

  .form-actions
    = f.button :submit
