= simple_form_for([:admin, @product]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :standards
    = f.input :description
    = f.association :producttype, label: "Category", include_blank: false

  .form-inputs
    = f.input :materials_img, as: :file
    = f.input :dimensions_img, as: :file
    = f.input :drawing1_img, as: :file
    = f.input :drawing2_img, as: :file
    = f.input :photo, as: :file

  .form-actions
    = f.button :submit
