%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Standards:
  = @product.standards
%p
  %b Description:
  = @product.description

%p
  %b materials_img:
  =image_tag @product.materials_img(:medium)

%p
  %b dimensions_img:
  =image_tag @product.dimensions_img(:medium)

%p
  %b drawing1_img:
  =image_tag @product.drawing1_img(:medium)

%p
  %b drawing2_img:
  =image_tag @product.drawing2_img(:medium)

%p
  %b photo:
  =image_tag @product.photo(:medium)

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
