<!DOCTYPE html>
<html>
  <head>
    <title>WRD Valves Site Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= root_url%>css/adminstyle.css" rel="stylesheet">
    <%= javascript_include_tag "application" %> 
  </head>
  <body>
  
    <%= render :partial => 'admin/common/head' %>   

     <%= yield %> 

    <%= render :partial => 'admin/common/footer' %>
  <script src="<%=root_url%>js/logout.js"></script>
  </body>
</html>

